
#chat-list {
    height: 600px;
    overflow-y: auto;
}

#message-list {
    height: 494px;
    overflow-y: auto;
}

.login-form {
    display: inline-block;
    padding: 32px 48px 0 48px;
    border: 1px solid #EEE;
}