.row
    #chat-list.col.s3
        .row
            .collection
                a.collection-item(ng-repeat="chat in chats | orderBy: '-lastModified'", ng-href="#/chat/{{chat._id}}", ng-class="activeChat._id == chat._id ? 'active' : ''")
                    span.new.badge.grey(ng-show="chat.unreadMessages") {{chat.unreadMessages}}
                    | {{chat.name}}
    .col.s9
        #message-list.white
            br
            .col.s12.row(ng-repeat="message in activeChat.messages | orderBy: 'date' track by message.id ")
                .col.s10
                    span.blue-text(ng-click="openDialog(message.user)") {{message.user}}
                    br
                    span {{message.message}}
                .col.s2.grey-text {{message.dateS}}
        form.row
            .row
            .col.s8.offset-s1
                input.s8(type="text", ng-model="newMessage")
            .col.s3
                button.btn.waves-effect.waves-light.blue.white-text(type="submit", ng-click="sendMessage()") Send
                    i.material-icons.right send
