extends layout

block content
    .container
        .row
            nav.blue
                .nav-wrapper
                    ul.hide-on-med-and-down
                        li
                            a Chat
                        li.right
                            a(href="/logout") Logout

        div(ng-view)
    script(type="application/javascript", src="/public/js/app.js")
