extends layout

block content
    .section
    main
        center
            .section
            h5.blue-text Please, fill this form!
            .section
            .container
                .z-depth-1.grey.lighten-4.row.login-form
                    form.col.s12(method="post", action="/register")
                        .row
                            .col.s12
                        .row
                            .input-field.col.s12
                                input#login.validate(type="text", name="username")
                                label(for="login") Enter your login
                        .row
                            .input-field.col.s12
                                input#password.validate(type="password", name="password")
                                label(for="password") Enter your password
                        .row
                            span.red-text= msg
                        center
                            .row
                                button.col.s12.btn.waves-effect.blue(type="submit") Register
        .section
        .section
    script(type="application/javascript", src="/public/js/login.js")